.fondo {
    background-color: #FAACA8;
    background-image: linear-gradient(0deg, #FAACA8 6%, #ffffff 98%, #DDD6F3 99%);
}

.avatar {
    width: 100px;
    border-radius: 30%;
}

html {
    scroll-behavior: smooth;
}